<h1>{{title}}</h1>
<h4>{{ subTitle }}</h4>

<div class="index-bar">
    <ng-container *ngFor="let bookRetail of bookRetailDetails; let idx = index">
        <div class="index-bar__item" (click)="showBooks(idx)">{{bookRetail.name}}</div>
    </ng-container>
</div>
<div class="books-list" *ngIf="authorBooks.length">
    <ng-container *ngFor="let authorBook of authorBooks; let idx = index">
        <div class="index-bar__item" (click)="selectBook(idx)">{{authorBook}}</div>
    </ng-container>
</div>
<!-- <div class="summary">{{bookSummary}}</div> -->
